<div class="hero" id="paradiv">
    <div id="part1">
      <h3 id="tm">ADMIN</h3>
      <br>
      <hr>
      <div id="but2">
        <div class="same">
          <a routerLink="/admin/createaccount">Create Account</a>
        </div>
        <div class="same">
          <a routerLink="/admin/pmanlist">Project managers List</a>
        </div>
        <div class="same">
          <a routerLink="/admin/teamlist">Teammembers</a>
        </div>
        <div class="same">
          <a routerLink="/admin/alogin">signout</a>
        </div>
      </div>
    </div>
    <div id="part2">
      <div>
        <div id="cont1">
          <input type="text" name="search" placeholder=" Search.." id="searching">
        </div>
        <div id="profile" (click)="toggleDropdown()">
          <img src="assets/Profile1.jpeg" alt="Tm logo" height="60px" width="60px" id="img" style="left: 1370px; top: 19px;">
          <div id="profileDropdown" [class.show-dropdown]="showDropdown">
            <a routerLink="/admin/profile">Add Profile</a>
            <a routerLink="/admin/alogin">Signout</a>
          </div>
        </div>
      </div>
      <div id="cont2"></div>
    </div>
  </div>
  